html {
  width: 940px;
  margin: 0 auto;
  background-image: url(../img/prism.png);
  scroll-behavior: smooth;
  header {
    background-image: url(../img/memphis-mini.png);
    h1 {
      font-family: "DotGothic16", sans-serif;
      text-align: center;
      padding: 20px;
      font-size: 4rem;
    }
    nav {
      ul {
        display: flex;
        justify-content: center;
        li {
          font-family: "Yanone Kaffeesatz", sans-serif;
          font-size: 1.5rem;
          padding: 15px 25px;
          background-color: rgb(212, 239, 255);
          border-radius: 10px 10px 10px 10px;
          margin: 0px 10px;
          -webkit-transition: 0.2s;
          transition: 0.5s;
          &:hover {
            background-color: aqua;
          }
        }
      }
      padding-bottom: 20px;
    }
  }
  body {
    background-image: url(../img/stripes-light.png);
    #self-introduction {
      h2 {
        text-align: center;
        padding: 40px;
        font-size: 2rem;
        background-color: rgba(190, 190, 190, 0.788);
      }
      .Contents {
        padding: 30px;
        display: flex;
        p {
          img {
            border-radius: 50%;
          }
        }
        .self-text {
          font-family: "RocknRoll One", sans-serif;
          padding: 60px 30px;
          font-size: 1.2rem;
        }
      }
    }
    #add-self-introduction {
      h2 {
        text-align: center;
        padding: 40px;
        font-size: 2rem;
        background-color: rgba(190, 190, 190, 0.788);
      }
      dl {
        padding: 20px;
        dt {
          font-size: 1.2rem;
          background-color: rgba(110, 110, 110, 0.5);
          padding: 10px 20px;
        }
        dd {
          font-size: 1.1rem;
          background-color: rgba(224, 224, 224, 0.685);
          margin: 0px 0px 50px 0px;
          padding: 10px 30px;
        }
      }
    }

    #DISCORD-Introduction {
      h2 {
        text-align: center;
        padding: 30px;
        font-size: 2rem;
        background-color: rgba(190, 190, 190, 0.788);
      }
      h3 {
        font-size: 2rem;
        text-align: center;
        padding: 20px;
      }
      ul {
        display: flex;
        li {
          margin: 0px 20px;
          p {
            padding-top: 50px;
          }
        }
      }
      h3:nth-of-type(2) {
        background-color: rgb(130, 224, 41);
        margin: 40px;
        -webkit-transition: 0.2s;
        transition: 0.5s;
        &:hover {
          background-color: rgb(14, 167, 0);
        }
      }
    }

    #SNS {
      h2 {
        text-align: center;
        padding: 40px;
        font-size: 2rem;
        background-color: rgba(190, 190, 190, 0.788);
      }
      ul {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          padding: 10px 40px;
          h3 {
            text-align: center;
            padding: 10px 0px;
            background-color: cornflowerblue;
          }
        }
      }
    }
  }
  footer {
    background-color: rgba(66, 66, 66, 0.842);
    text-align: center;
    padding: 40px;
    p {
      color: white;
    }
  }
}
